.DS_Store
db
bowtie2-*
*.fasta
*.fastq
*.sam
*.sai
.Rhistory
*.csv
*.sqlite
__pycache__
*.pyc
node_modules
/coverage
/build
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

